<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759373548497-7khhhvomvq2m2vps22euegbv8hkrohcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759373548497-7khhhvomvq2m2vps22euegbv8hkrohcl</string>
	<key>API_KEY</key>
	<string>AIzaSyBgMDvszwZ0RHUPl_sxt-WVkS72Dc4mKDA</string>
	<key>GCM_SENDER_ID</key>
	<string>759373548497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.passengerClient</string>
	<key>PROJECT_ID</key>
	<string>bikunku-improvements</string>
	<key>STORAGE_BUCKET</key>
	<string>bikunku-improvements.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759373548497:ios:0f7b65d53c336a23da2ef0</string>
</dict>
</plist>